{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- User Authentication-->
    {% if user.is_authenticated %}
        <!-- Bootstrap Navigation Bar  https://getbootstrap.com/docs/5.2/components/navbar/ -->
        <nav class="navbar bg-light fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">My Travel App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MyTravelApp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{%url 'map'%}">Map</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ user.username }}
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>
        </nav>

        <!-- Home page image and text-->
        <div style="height: 100%; padding-top: 10%; text-align: center">
            <img src="{% static '/ASSETS/Images/854929.png' %}" alt="My image">
            <h1>Travel App</h1>
        </div>

    {% else %}
        <!-- Prompt to log in if not logged in -->
        <div style="text-align: center;">
          <p>You are not logged in</p>
          <a href="{% url 'login' %}">Log In</a>
        </div>
    {% endif %}
{% endblock %}